$size:200px;
$color-orange:orange;
$font:30px;


.container{
  // width:400px->$size 의 2배 ;
  width:$size * 2;
  background-color:$color-orange;
  padding:$size;
  .item{
    //  재할당
    $size:300px;
    width:$size;
    height:$size;
    color:green;
    font-size:$font;
    background-color:#fff;
  }
}